body {
    background-image: url("/assets/img/JardinJaponais.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 75% 50%
}

header {
    display: flex;
    justify-content: left;
    align-items: center;

}

table {
    border: solid white;

}

hr {
    color: white;
}

u{
    color: red;
}

h1 {
    color:  white;
}

h2 {
    color: red;
}

p {
    color: white;
}

th {
    color: white;
}

td {
    color: white;
}

link {
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    border: solid 10px black;
    color: white;
    text-align: center;
    margin: auto;
    padding-left: 15px;
    margin-left: 15px;
    font-style: italic;
    background-color: black;
    width: 300px;
}

form {
    color: white;
    border: solid white;
}

aside {
    color: black;
    width: 20%;
    height: 400px;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-image: url(/assets/img/backgroundtemple.png);
    border-radius: 100%;
    
}


.promo {
    border: solid 2px black;
    width: 100%;
    border-radius: 10000000%;
}

.jarditou {
    width: 600px;
    height: 200px;
}

.intro {
    float: right;

}

.error {
    float: left;
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 40px;
    }
    
    h4 {
        font-size: 40px;
    }
    
    p {
        font-size: 40px;
    }

    tr {
        font-size: 20px;
    }

    form {
        font-size: 40px;
    }
    
    img {
        max-width: 100%;
    }
    
    li {
        display: contents;
        font-size: 30px;
    }

    aside {
        display: none;
    }
}


